<p id="notice"><%= notice %></p>

<h1>Listing Line Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Submit date</th>
      <th>Restaurant</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_statuses.each do |line_status| %>
      <tr>
        <td><%= line_status.submit_date %></td>
        <td><%= line_status.restaurant.name %></td>
        <td><%= line_status.status %></td>
        <td><%= link_to 'Show', line_status %></td>
        <td><%= link_to 'Edit', edit_line_status_path(line_status) %></td>
        <td><%= link_to 'Destroy', line_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line status', new_line_status_path %>
