<p id="notice"><%= notice %></p>

<h1>Listing Menu Entries</h1>

<table>
  <thead>
    <tr>
      <th>Meal date</th>
      <th>Period</th>
      <th>Restaurant</th>
      <th>Meal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_entries.each do |menu_entry| %>
      <tr>
        <td><%= menu_entry.meal_date %></td>
        <td><%= menu_entry.period %></td>
        <td><%= menu_entry.restaurant %></td>
        <td><%= menu_entry.meal %></td>
        <td><%= link_to 'Show', menu_entry %></td>
        <td><%= link_to 'Edit', edit_menu_entry_path(menu_entry) %></td>
        <td><%= link_to 'Destroy', menu_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu entry', new_menu_entry_path %>
