<p id="notice"><%= notice %></p>

<p>
  <strong>Entry date:</strong>
  <%= @menu_entry.entry_date %>
</p>

<p>
  <strong>Period:</strong>
  <%= @menu_entry.period %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu_entry.restaurant %>
</p>

<p>
  <strong>Main:</strong>
  <%= @menu_entry.main %>
</p>

<p>
  <strong>Meat:</strong>
  <%= @menu_entry.meat %>
</p>

<p>
  <strong>Second:</strong>
  <%= @menu_entry.second %>
</p>

<p>
  <strong>Salad:</strong>
  <%= @menu_entry.salad %>
</p>

<p>
  <strong>Optional:</strong>
  <%= @menu_entry.optional %>
</p>

<p>
  <strong>Desert:</strong>
  <%= @menu_entry.desert %>
</p>

<%= link_to 'Edit', edit_menu_entry_path(@menu_entry) %> |
<%= link_to 'Back', menu_entries_path %>
