<p id="notice"><%= notice %></p>

<p>
  <strong>Main course:</strong>
  <%= @meal.main_course %>
</p>

<p>
  <strong>Meat:</strong>
  <%= @meal.meat %>
</p>

<p>
  <strong>Second course:</strong>
  <%= @meal.second_course %>
</p>

<p>
  <strong>Salad:</strong>
  <%= @meal.salad %>
</p>

<p>
  <strong>Optional:</strong>
  <%= @meal.optional %>
</p>

<p>
  <strong>Desert:</strong>
  <%= @meal.desert %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
